@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background-color: #3E5D43 !important;
}

.swiper-pagination-bullet {
  background-color: #3E5D43 !important;
}
.swiper-button-prev {
  background-image: url('/previous.svg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  left: 8vw !important;

  @media (max-width: 639px) {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
}

.swiper-button-prev::after {
  content: none !important;
}

.swiper-button-next {
  background-image: url('/next.svg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  right: 8vw !important;

  @media (max-width: 639px) {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
}

.swiper-button-next::after {
  content: none !important;
}

#gallery-slide #slide-description {
  opacity: 0;
}

#gallery-slide:hover #slide-description {
  opacity: 1;
}

.p-placeholder {
  color: #C4CFC6;
}

.p-component {
  font-family: var(--font-satoshi), sans-serif;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #3E5D43;
  background: #eef2ff;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #3E5D43;
  background: #F1F8EC;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #3E5D43;
  background: #3E5D43;
}

.p-checkbox-box {
  border: solid 1px #849785;
}

.p-multiselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px #849785;
  border-color: #849785;
}

.p-multiselect-label {
  min-width: 224px;
}

.p-multiselect-trigger {
  color: #849785;
}